
  .gameMenuBackground {
    background: url('/mainMenubackground2_cropped.jpg');
    background-size:contain; 
    background-position: left; 
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    display: flex;
    justify-content: start;
    align-items: left;
    background-attachment: fixed;
}

@media (max-width: 768px) {
    .gameMenuBackground {
        background-size: cover;
        background-position: center;
    }
}

@media (max-width: 480px) {
    .gameMenuBackground {
        background-size: cover;
        background-position: center; 
        height: 100vh; 
    }
}