.enemyCharacter {
  position: absolute;
  background: url('/Spearman_Demo.png');
  background-repeat: no-repeat;
  width: calc(177px / var(--pixel-ratio));
  height: calc(177px / var(--pixel-ratio));  
  cursor: move;
  background-color: transparent;
  border-radius: 50%;
  background-size: 100%;
  z-index: 999;
}

.thiefCharacter {
  position: absolute;
  background: url('/MasterThief_Demo.png');
  background-repeat: no-repeat;
  width: calc(177px / var(--pixel-ratio));
  height: calc(177px / var(--pixel-ratio));  
  cursor: move;
  background-color: transparent;
  border-radius: 50%;
  background-size: 100%;
  z-index: 999;

}


.mapItem {
  position: absolute;
  background: url('/bag-of-coins-upscaled-noback2.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;  
  cursor: pointer;
  z-index: 999;

}