
:root {
  --s: 90.5px;
  --gap: 0.5px;
  --hex-height: 103px;
  --muiltiplier: 20px
}

.main321 {
  display: flex;
  overflow: hidden;
  position: absolute;
  left: -300px;
}

.container123 {
  display: flex;
  flex-direction: column;
}

/* Brings rows closer */
.hex-row {
  display: flex;
  margin-top: calc(var(--gap) * -113); 
}

.offset {
  transform: translateX(calc(var(--muiltiplier) / 0.251)); /* Adjust offset for perfect alignment */
}

.hex-icon {
  width: var(--s);
  height: var(--hex-height);
  color: rgb(227, 227, 227);
  font-size: var(--s);
  margin: 0 calc(var(--s) * 0.380);
  opacity: 0.5;
  transform: rotate(90deg);
  clip-path: polygon(
    50% 0%, 
    100% 25%, 
    100% 75%, 
    50% 100%, 
    0% 75%, 
    0% 25%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}


/* @media (max-width: 1200px) {
  :root {
    --s: 85px; 
  }
}

@media (max-width: 900px) {
  :root {
    --s: 55px; 
  }
}

@media (max-width: 600px) {
  :root {
    --s: 45px; 
  }
}

@media (min-width: 1600px) {
  :root {
    --s: 115px; 
  }
}

@media (min-width: 2200px) {
  :root {
    --s: 135px; 
  }
}

@media (min-width: 3000px) {
  :root {
    --s: 165px; 
  }
}

@media (min-width: 4000px) {
  :root {
    --s: 195px;
  }
} */