
.maps-container {
  position: relative;  /* So child elements (like the character) can be positioned absolutely */
  width: 3000px;       /* Large enough for scrolling */
  height: 2000px; 
  overflow: auto;      /* Enables scrolling */
  display: flex;
  flex-direction: column;
}

.testmap {
  position: absolute;  /* Make sure it stays inside maps-container */
  top: 0;
  left: 0;
  width: 100%;        /* Full size of maps-container */
  height: 100%;
  background-size: cover; /* Cover the entire container */
  background-repeat: no-repeat;
  background-position: center; 
}


.testmap2 {
  position: absolute;  /* Make sure it stays inside maps-container */
  top: 1585px;
  left: 0;
  width: 100%;        /* Full size of maps-container */
  height: 100%;
  background-size: cover; /* Cover the entire container */
  background-repeat: no-repeat;
  background-position: center; 
}

.testmap {
  background-image: url('/Balins_Tomb_noback_upscaled_1.png');
}

.testmap2 {
  background-image: url('/Balins_Tomb_noback_upscaled_1 copy.png');
}