
.maps-container {
  position: relative;  
  width: 3238px;       
  height: 2360px;
  display: flex;
  flex-direction: column;
}

.testmap {
  position: absolute;  
  top: 0;
  left: 0;
  width: 3238px;        
  height: 2360px;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
}


.testmap2 {
  position: absolute;  
  top: 1585px;
  left: 0;
  width: 3238px;       
  height: 2360px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

.testmap {
  background-image: url('/Balins_Tomb_noback_upscaled_1.png');
}

.testmap2 {
  background-image: url('/Balins_Tomb_noback_upscaled_1 copy.png');
}