
/* .maps-container {
  position: relative;  
  width: 100%;       
  height: 100%;
  display: flex;
  flex-direction: column;
}

.testmap {
  position: absolute;  
  top: 0;
  left: 0;
  width: 100%;       
  height: 100%;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
} */

/* 
.testmap2 {
  position: absolute;  
  top: 1585px;
  left: 0;
  width: 100%;       
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

.testmap {
  background-image: url('/Balins_Tomb_v1.png');
}

.testmap2 {
  background-image: url('/Balins_Tomb_v1.png');
} */

.testmap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  background-image: url('/Balins_Tomb_noback_upscaled_1.png');
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center top; 
}

/* .testmap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  background-image: url('/Balins_Tomb_v2.png');
  background-size: contain;  
  background-repeat: no-repeat;
  background-position: center top;
} */