
.testmap {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  min-width: calc(6000px / var(--pixel-ratio));  
  height: calc(5000px / var(--pixel-ratio)); 
}

.map-container {
  width: var(--screen-width);  
  height: var(--screen-height); 
  position: absolute;
  top:0;
  left: 0
}